<a href="https://colab.research.google.com/github/misrori/coding2024/blob/main/session2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---

### **Python Basics: Loops, If Statements, and Functions**

---

#### **1. Introduction to Loops**

**Loops** allow us to execute a block of code multiple times.

- **For Loop**: Iterate over a sequence (like a list, tuple, or string).

```python
# Example
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
```

In [ ]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry


- **While Loop**: Repeat as long as a condition is true.

```python
# Example
i = 0
while i < 5:
    print(i)
    i += 1
```

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4


#### **2. If Statements**

**If Statements** let us make decisions in our code. We can execute code only if a condition is true.

```python
# Example
age = 20
if age >= 18:
    print("You are an adult.")
else:
    print("You are not an adult.")
```

You can also add multiple conditions using `elif`:

```python
# Example
score = 85
if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
else:
    print("Grade: C")
```

In [ ]:
age = 20
age<10

False

In [ ]:
age = 20
if age >= 18:
    print("You are an adult.")
else:
    print("You are not an adult.")

You are an adult.

In [ ]:
score = 85
if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
else:
    print("Grade: C")

Grade: B



#### **3. Functions**

**Functions** are reusable blocks of code that you can call to perform a specific task.

- **Defining a function**:

```python
# Example
def greet(name):
    print(f"Hello, {name}!")
```

- **Calling a function**:

```python
greet("Alice")  # Output: Hello, Alice!
```

- **Returning values from functions**:

```python
def add(a, b):
    return a + b

result = add(3, 5)  # result is 8
```

In [ ]:
def greet(name):
    print(f"Hello, {name}!")

In [ ]:
greet("Alice")

Hello, Alice!

In [ ]:
def add(a, b):
    return a + b

result = add(3, 5)


### **Practice Tasks**

#### **Task 1: Loops**
1. Write a program that prints the numbers from 1 to 10 using a `for` loop.
2. Use a `while` loop to count down from 10 to 1.

In [ ]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
while i>0:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

#### **Task 2: If Statements**
1. Write a program that takes an integer input from the user and prints if it's **even** or **odd**.
2. Write a program that takes a number from the user and prints whether itâ€™s **positive**, **negative**, or **zero**.

In [ ]:
my_number = int(input("Enter a number: "))
if my_number%2==0:
    print("Even")
else:
    print("Odd")

In [ ]:
my_number = int(input("Enter a number: "))
if my_number>0:
    print("Positive")
elif my_number<0:
    print("Negative")
else:
    print("Zero")

#### **Task 3: Functions**

1. Write a function that takes two numbers and returns the larger of the two.
2. Write a function `is_even(number)` that returns `True` if a number is even and `False` if it's odd.

In [ ]:
def larger(a,b):
    if a>b:
        return(a)
    else:
        return(b)

In [ ]:
larger(3,5)

5

In [ ]:
def is_even(number):
    if number%2==0:
        return(True)
    else:
        return(False)

In [ ]:
is_even(5)

False

#### **Bonus Task**
Combine everything: Write a program that:
- Takes a list of numbers and return the sum of them, use a for loop (do not use the built in functions).
- Filters out the even numbers using a loop and an `if` statement and return with the list without even numbers.

In [ ]:
def sum_list(my_list):
    sum=0
    for i in my_list:
        sum+=i
    return(sum)

In [ ]:
sum_list([1,2,3,4,5])

15

#### **Let's Play**
Go to:

https://reeborg.ca/reeborg.html?lang=en&mode=python&menu=worlds%2Fmenus%2Freeborg_intro_en.json&name=Hurdle%201&url=worlds%2Ftutorial_en%2Fhurdle1.json

Solve the folowing chalanges:
- Hurdle 1-4
- Center 1-2
- Maze
- Harvest 1-3

#### **Hurdle 1**


```python
def turn_right():
    for i in range(3):
        turn_left()
        
for i in range(6):
    move()
    turn_left()
    move()
    turn_right()
    move()
    turn_right()
    move()
    turn_left()
```

#### **Hurdle 2**


```python
def turn_right():
    for i in range(3):
        turn_left()
        
def jump():
    move()
    turn_left()
    move()
    turn_right()
    move()
    turn_right()
    move()
    turn_left()
        
while not at_goal():
    jump()
```

#### **Hurdle 3**


```python
def turn_right():
    for i in range(3):
        turn_left()
        
def jump():
    turn_left()
    move()
    turn_right()
    move()
    turn_right()
    move()
    turn_left()
        
while not at_goal():
    if front_is_clear():
        move()
    else:
        jump()
```


#### **Hurdle 4**


```python
def turn_right():
    for i in range(3):
        turn_left()
        
def jump():
    turn_left()
    while wall_on_right():
        move()
    turn_right()
    move()
    turn_right()
    while front_is_clear():
        move()
    turn_left()
        
while not at_goal():
    if front_is_clear():
        move()
    else:
        jump()
```


#### **Center 1**


```python
steps = 0
while front_is_clear():
    move()
    steps +=1

for _ in range(2):
    turn_left()

steps_to_center = int(steps / 2)

for _ in range(steps_to_center):
    move()
    
put()
```


#### **Center 2**


```python
x = 0
y = 0
while front_is_clear():
    move()
    x +=1

turn_left()

while front_is_clear():
    move()
    y +=1


x_center = int(x / 2)
y_center = int(y / 2)

turn_left()

for _ in range(x_center):
    move()
    
turn_left()

for _ in range(y_center):
    move()
put()
```


#### **Maze**


```python
def turn_right():
    for i in range(3):
        turn_left()
        
while not at_goal():
    if right_is_clear():
        turn_right()
    if front_is_clear():
        move()
    else:
        turn_left()
```


#### **Harvest 1**


```python
def turn_right():
    for i in range(3):
        turn_left()

def take_one_row():
    take()
    for _ in range(5):
        move()
        take()

move()
move()
turn_left()
move()
move()
turn_right()

for i in range(6):
    take_one_row()
    if (i%2==0):
        turn_left()
        move()
        turn_left()
    else:
        turn_right()
        move()
        turn_right()
        
```